<% layout('layouts/boilerplate') %>
<h1>New place</h1>
<form action="/places" method="POST">
  <label for="title">title</label>
  <input
    type="text"
    name="title"
    id="place[title]"
    placeholder="enter your titel"
  />
  <button>create</button>
</form>
