<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new place</title>
  </head>
  <body>
    <h1>New place</h1>
    <form action="/places" method="POST">
      <label for="title">title</label>
      <input
        type="text"
        name="title"
        id="place[title]"
        placeholder="enter your titel"
      />
      <button>create</button>
    </form>
  </body>
</html>
