<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>show</title>
  </head>
  <body>
    <h1><%= place.title %></h1>
    <a href="/places"> back</a>
    <a href="/places/<%= place.id %> /edit"> edit</a>
  </body>
</html>
